*.sqlite3
.vscode/
*.pyc
templates/analysis2.html
templates/home2.html
templates/base2.html
__pycache__/
migrations/
config.py
static/test.png
feedback.txt
*egg-info/
static/daygraph.png
static/piechart.png