{% extends 'base.html' %}

{% block title %}
User Check
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item">Input your twitter username to check if it's on twitter</li>
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_subject">Twitter Handle</label>
        <input type="text" class="form-control" id="id_handle" name="handle">
    </div>
    <button type="submit" class="btn btn-success">Check</button>
</form>
<p class="lead h4 text-center">{{ report }}</p>
{% endblock content %}